aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.13
appnope==0.1.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.9.3
blis==0.7.9
bs4==0.0.1
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.1.1
click==8.1.3
confection==0.0.4
contourpy==1.0.7
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
decorator==5.1.1
dicttoxml2==2.1.0
distlib==0.3.6
docutils==0.18.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
executing==1.2.0
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.10.7
fonttools==4.39.3
frozenlist==1.3.3
fuzzywuzzy==0.18.0
geograpy3==0.2.6
google-api-core==2.11.0
google-api-python-client==2.84.0
google-auth==2.17.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.0
googlesearch-python==1.1.0
httplib2==0.22.0
idna==2.10
imagesize==1.4.1
imbalanced-learn==0.10.1
ipython==8.12.0
isodate==0.6.1
jedi==0.18.2
jellyfish==0.11.2
jieba3k==0.35.1
Jinja2==3.1.2
joblib==1.2.0
jsonpickle==1.5.2
kiwisolver==1.4.4
langcodes==3.3.0
Levenshtein==0.20.9
locationtagger==0.0.1
lxml==4.9.2
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
multidict==6.0.4
murmurhash==1.0.9
newspaper3k==0.2.8
nltk==3.8.1
numpy==1.24.1
openai==0.26.1
packaging==23.0
pandas==1.5.3
parso==0.8.3
pathy==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.2.0
preshed==3.0.8
prompt-toolkit==3.0.38
protobuf==4.22.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==22.3.5
pydantic==1.10.7
Pygments==2.14.0
pylatexenc==2.10
pylodstorage==0.4.11
pyparsing==3.0.9
python-dateutil==2.8.2
python-Levenshtein==0.20.9
pytrends==4.9.0
pytz==2022.7.1
PyYAML==6.0
rapidfuzz==2.15.0
rdflib==6.3.2
regex==2023.3.23
requests==2.25.1
requests-file==1.5.1
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
sgmllib3k==1.0.0
six==1.16.0
smart-open==6.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SPARQLWrapper==1.8.5
Sphinx==6.1.3
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
srsly==2.4.6
stack-data==0.6.2
tabulate==0.9.0
thefuzz==0.19.0
thinc==8.1.9
threadpoolctl==3.1.0
tinysegmenter==0.3
tldextract==3.4.0
tqdm==4.64.1
traitlets==5.9.0
typer==0.7.0
typing_extensions==4.5.0
uritemplate==4.1.1
urllib3==1.26.13
virtualenv==20.21.0
wasabi==1.1.1
wcwidth==0.2.6
xgboost==1.7.5
yarl==1.8.2
